certifi==2021.10.8
charset-normalizer==2.0.7
future==0.18.2
greenlet==1.1.2
idna==3.3
-e git+ssh://git@github.com/kolliderhq/kollider-api-client.git@c3553daf1d1553cf2cccdbea818840f761f5b02a#egg=kollider_api_client
requests==2.26.0
urllib3==1.26.7
uuid==1.30
websocket-client==1.2.1
zope.event==4.5.0
zope.interface==5.4.0
