BTrees==4.9.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
future==0.18.2
greenlet==1.1.2
idna==3.3
-e git+ssh://git@github.com/kolliderhq/kollider-api-client.git@86130842b8e3729899a32abcf5b02344f0b642ce#egg=kollider_api_client
persistent==4.7.0
pycparser==2.21
PyYAML==6.0
requests==2.26.0
urllib3==1.26.7
uuid==1.30
websocket-client==1.2.1
zope.event==4.5.0
zope.interface==5.4.0
